body{
    background-color: cornflowerblue;
}
.main-class{
    width: 700px;
    margin: 0 auto;
}

.section-prof{
display: flex;
min-height: 600px;
}
.left-side{
    background-color: blue;
    width: 200px;
}

.right-side{
    background-color: #fff;
    width: 400px;
}